# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.idea/

# Vscode
.vscode/
.history/

example_file_storage
logo/logo.svg
file_storage
notebooks
dataset_storage
raw_datasets

/src/outlier_hub/datasets/ham10k/data/raw/images/
!/src/outlier_hub/datasets/ham10k/data/raw/images/.gitkeep

/src/outlier_hub/datasets/ham10k/data/raw/metadata/
!/src/outlier_hub/datasets/ham10k/data/raw/metadata/.gitkeep
/src/outlier_hub/datasets/ham10k/data/ham10k.hdf5
/src/outlier_hub/datasets/odr/data/raw/metadata/full_df.csv
/src/outlier_hub/datasets/odr/data/raw/images/
/src/outlier_hub/datasets/odr/data/raw/metadata/
/src/outlier_hub/datasets/odr/data/odr.hdf5
/src/outlier_hub/datasets/odr/test.csv
/src/outlier_hub/datasets/odr/sorted.csv
/src/outlier_hub/datasets/odr/sorted2.csv
src/outlier_hub/datasets/ham10k/data/preprocessed/train/isic2018.hdf5
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034304.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034305.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034306.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034307.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034308.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034309.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034310.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034311.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034312.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034313.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034314.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034315.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034316.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034317.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034318.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034319.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/ISIC_0034320.jpg
src/outlier_hub/datasets/ham10k/data/raw/train/raw_images/LICENSE.txt
src/outlier_hub/datasets/ham10k/data/raw/train/train_labels/ISIC2018_Task3_Training_GroundTruth.csv
src/outlier_hub/datasets/ham10k/data/raw/train/train_labels/ATTRIBUTION.txt
src/outlier_hub/datasets/ham10k/data/raw/train/train_labels/LICENSE.txt
